html {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

* {
margin: 0;
padding: 0;
}

nav {
text-align: right;
position: fixed;
width: 100%;
top: 0;
background-color: white;
}

nav ul li {
display: inline-block;
margin: 50px;
margin-top: 25px;
margin-bottom: 25px;
}

nav ul li a {
color: green;
text-decoration: none;
}


#welcome-section {
text-align: center;
height: 100vh;
padding-top: 60vh;
}

.about-me {
/**
outline: 2px solid black;
**/
padding-top: 20vh;
padding-bottom: 20vh; 
}

.myImage {
float: left;
margin-left: 40vh;
margin-bottom: 10px;
padding-right: 30px; 
}

.about-me h1{
padding: 10px;
margin-right: 300px;
}

.about-me p{
text-align: left;
margin-right: 300px;
margin-left: 400px;
padding: 10px;
}

#skills {
text-align: center;
padding-top: 10vh;
padding-bottom: 15vh; 
}

#skills h1 {
padding: 40px;
}

#skills ul li{
top: 0;
padding: 10px;
list-style: none;
}


#projects {
display: grid;
top: 0;
margin: 35px;
padding-top: 20vh;
padding-bottom: 25vh; 
}

#projects h1 {
padding: 30px;
}

#projects a {
padding: 20px;
}

#contact-me {
top: 0;
margin: 25px;
padding-top: 10vh;
padding-bottom: 15vh; 
}

.fa {
padding: 30px;
width: 30vh;
height: 30vh;
text-decoration: none;
color: blue;
}