html {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

* {
margin: 0;
padding: 0;
}

nav {
text-align: right;
position: fixed;
width: 100%;
top: 0;
background-color: white;
}

nav ul li {
display: inline-block;
margin: 50px;
margin-top: 25px;
margin-bottom: 25px;
}

nav ul li a {
color: green;
text-decoration: none;
}


#welcome-section {
text-align: center;
height: 100vh;
padding-top: 60vh;
}

.about-me {
  outline: 2px solid black;
  padding-top: 10vh;
  padding-bottom: 15vh; 
}

.myImage {
float: left;
margin-left: 40vh;
margin-bottom: 10px;
padding-right: 30px; 
}

.about-me h1{
padding: 10px;
margin-right: 300px;
}

.about-me p{
text-align: left;
margin-right: 300px;
margin-left: 400px;
padding: 10px;
}

#skills {
text-align: center;
 outline: 2px solid black;
 padding-top: 10vh;
 padding-bottom: 15vh; 
}

#skills h1 {
padding: 40px;
}

#skills ul li{
top: 0;
list-style: none;
}


#projects {
top: 0;
margin: 25px;
 outline: 2px solid black;
  padding-top: 10vh;
  padding-bottom: 15vh; 
}


#contact-me {
top: 0;
margin: 25px;
outline: 2px solid black;
  padding-top: 10vh;
  padding-bottom: 15vh; 
}

#contact-me ul li{
list-style: none;
}